<div class="jumbotron mt-4">
  <h1 class="display-4">Alien Jobs App</h1>
  <p class="lead">Find the best IT Talent worldwide</p>
  <p class="lead">developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  
  <hr class="my-4">
  <p>Wait less time and money, we do it all for your, we are the only computer science community with ITJobs Ads
  </p>
  <a class="btn btn-primary btn-lg" href="http://alienroom.dev" role="button">AlienRoom</a>
</div>

{{!-- Features --}}
<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our awesome features</h2>
    <div class="block"><img class="is-16by9 mb-6" src="placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2"><img src="placeholder/icons/check.svg" alt=""></div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Security</h4>
            <p class="subtitle is-6">Your data is virtually unhackable compared to traditional net</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2"><img src="placeholder/icons/check.svg" alt=""></div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Privacy</h4>
            <p class="subtitle is-6">Nobody is tracking you when your activity when you use Piper Net</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2"><img src="placeholder/icons/check.svg" alt=""></div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Speed</h4>
            <p class="subtitle is-6">Previously unimaginable transfer speed thanks to middle-out compression</p>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons is-centered "><a class="button is-link" href="#">Read more</a></div>
  </div>
</section>
{{!-- END Features --}}

{{!-- Containers --}}
<div class="columns is-multiline">
  <div class="column is-6-tablet"></div>
  <div class="column is-6-tablet"></div>
</div>
{{!-- END Containers --}}

{{!-- Hero --}}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">The New Internet</h1>
      <h2 class="subtitle">Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="#">Sign up for free</a><a class="control button is-light" href="#">Read more</a></div>
    </div>
  </div>
</section>
{{!-- END Hero --}}

{{!-- How it works --}}
<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered mb-6">PiperNet Setup</h2>
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="title is-spaced">How to start</h2>
        <p class="subtitle">Let's get you connected! We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.</p>
        <a class="button is-primary" href="#">Start Setup!</a>
      </div>
      <div class="column"><img src="placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
    </div>
    <hr class="my-6">
    <div class="level">
      <div class="level-item">
        <div class="number has-background-primary">1</div>
        <h4 class="title is-4">Move</h4>
      </div>
      <div class="level-item">
        <div class="number">2</div>
        <h4 class="title is-4">Integrate</h4>
      </div>
      <div class="level-item">
        <div class="number">3</div>
        <h4 class="title is-4">Support</h4>
      </div>
    </div>
  </div>
</section>
{{!-- END How it works --}}

{{!-- Testimonials --}}
<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">What's So Great About PiperNet?</h2>
    <div class="columns">
      <div class="column">
        <div class="level">
          <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure></div>
        </div>
        <p class="block">It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's.</p>
        <h5 class="title is-5">Colin</h5>
        <p class="subtitle">CEO at K-Hole</p>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure></div>
        </div>
        <p class="block">This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!</p>
        <h5 class="title is-5">Russ Hanneman</h5>
        <p class="subtitle">Investor, Angel, Great Guy</p>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-item"><figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure></div>
        </div>
        <p class="block">Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.</p>
        <h5 class="title is-5">Fiona</h5>
        <p class="subtitle">Artificial Intelligence</p>
      </div>
    </div>
  </div>
</section>
{{!-- END Testimonials --}}

{{!-- Portfolio --}}
<section class="section">
  <div class="container py-r">
    <h2 class="title">Great Companies that already use PiperNet</h2>
    <div class="columns">
      <div class="column is-9"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
      <div class="column is-3">
        <div class="columns is-mobile is-multiline">
          <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <h4 class="title is-spaced is-4">Client: K-Hole</h4>
        <p class="subtitle">We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!</p>
      </div>
    </div>
  </div>
</section>
{{!-- END Portfolio --}}

{{!-- Content grid --}}
<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-multiline">
      <div class="column is-6 is-4-desktop">
        <h4 class="title is-spaced is-4">Security</h4>
        <p class="subtitle is-6">Your data is virtually unhackable compared to traditional net.</p>
      </div>
      <div class="column is-6 is-4-desktop">
        <h4 class="title is-spaced is-4">Privacy</h4>
        <p class="subtitle is-6">Nobody is tracking you when your activity when you use PiperNet.</p>
      </div>
      <div class="column is-6 is-4-desktop">
        <h4 class="title is-spaced is-4">Speed</h4>
        <p class="subtitle is-6">Previously unimaginable transfer speed thanks to middle-out compression.</p>
      </div>
      <div class="column is-6 is-4-desktop">
        <h4 class="title is-spaced is-4">Decentralization</h4>
        <p class="subtitle is-6">Decentralized design allows data to flow freely and efficiently.</p>
      </div>
      <div class="column is-6 is-4-desktop">
        <h4 class="title is-spaced is-4">Infrastructureless</h4>
        <p class="subtitle is-6">Gather computing power from idle machines in your network to act as a decentralized server.</p>
      </div>
      <div class="column is-6 is-4-desktop">
        <h4 class="title is-spaced is-4">Storage</h4>
        <p class="subtitle is-6">Store your data safely, and access it faster than ever.</p>
      </div>
    </div>
  </div>
</section>
{{!-- END Content grid --}}

{{!-- FAQ --}}
<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered mb-6">Frequently Asked Questions</h2>
    <div class="panel">
      <div class="panel-block is-block py-3 px-4">
        <a class="media" href="#">
          <div class="media-content">How is a decentralized network different from the traditional web?</div>
          <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
        </a>
      </div>
      <div class="panel-block is-block py-3 px-4">
        <a class="media" href="#">
          <div class="media-content">Why shouldn't I just store my data on a Hooli Box?</div>
          <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
        </a>
      </div>
      <div class="panel-block is-block py-3 px-4">
        <a class="media" href="#">
          <div class="media-content">What makes PiperNet so safe?</div>
          <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
        </a>
      </div>
      <div class="panel-block is-block py-3 px-4">
        <a class="media" href="#">
          <div class="media-content">How long does it take to get a company up and running on PiperNet?</div>
          <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
        </a>
      </div>
      <div class="panel-block is-block py-3 px-4">
        <a class="media" href="#">
          <div class="media-content">How is a decentralized network different from the traditional web?</div>
          <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
        </a>
      </div>
      <div class="panel-block is-block py-3 px-4">
        <a class="media" href="#">
          <div class="media-content">Why shouldn't I just store my data on a Hooli Box?</div>
          <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
        </a>
      </div>
    </div>
  </div>
</section>
{{!-- END FAQ --}}

{{!-- Our plans --}}
<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title">Our plans</h2>
    <hr class="my-6">
    <div class="columns">
      <div class="column">
        <h3 class="title is-4">Small Piper</h3>
        <h4 class="title is-spaced is-5">$10 <small>Per user / monthly</small></h4>
        <p class="subtitle">Join our network, but build and manage everything yourself.</p>
        <hr>
        <ul>
          <li>100GB storage</li>
          <li>5 Applications</li>
          <li>20 users max</li>
          <li>Unlimited Data Transfer</li>
        </ul>
        <hr>
        <div class="buttons is-centered">
          <button class="button is-primary" type="button">Contact Sales</button>
        </div>
      </div>
      <div class="column">
        <h3 class="title is-4">Medium Piper</h3>
        <h4 class="title is-spaced is-5">$50 <small>Per user / monthly</small></h4>
        <p class="subtitle">We build what you need, but you still need to manage your data.</p>
        <hr>
        <ul>
          <li>1000GB storage</li>
          <li>20 Applications</li>
          <li>200 users max</li>
          <li>Unlimited Data Transfer</li>
        </ul>
        <hr>
        <button class="button is-primary is-outlined" type="button">Contact Sales</button>
      </div>
      <div class="column">
        <h3 class="title is-4">Enterprise Piper</h3>
        <h4 class="title is-spaced is-5">$100 <small>Per user / monthly</small></h4>
        <p class="subtitle">We do everything for you, including managing your data.</p>
        <hr>
        <ul>
          <li>Unlimited storage</li>
          <li>Unlimited Applications</li>
          <li>Unlimited users max</li>
          <li>Unlimited Data Transfer</li>
        </ul>
        <hr>
        <button class="button is-primary is-outlined" type="button">Contact Sales</button>
      </div>
    </div>
  </div>
</section>
{{!-- END Our plans --}}

{{!-- Content --}}
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Decentralized, secure, private.</h2>
    <div class="block"><img src="placeholder/icons/unicorn.svg" alt=""><img src="placeholder/icons/unicorn.svg" alt=""><img src="placeholder/icons/unicorn.svg" alt=""></div>
    <p>Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.</p>
  </div>
</section>
{{!-- END Content --}}

{{!-- Features 2 --}}
<section class="section">
  <div class="container py-4">
    <h2 class="title has-text-centered mb-6">Some of our awesome features</h2>
    <div class="columns">
      <div class="column is-3">
        <h4 class="title is-spaced is-4">Decentralized</h4>
        <p class="subtitle is-6">Your data is stored in many places at once. Awesome, right?</p>
        <a href="#">Read more</a>
      </div>
      <div class="column is-3">
        <h4 class="title is-spaced is-4">Secure</h4>
        <p class="subtitle is-6">Nobody will be able to use your data without your consent.</p>
        <a href="#">Read more</a>
      </div>
      <div class="column is-3">
        <h4 class="title is-spaced is-4">Private</h4>
        <p class="subtitle is-6">Your online activity is only yours to know. Always.</p>
        <a href="#">Read more</a>
      </div>
      <div class="column is-3">
        <h4 class="title is-spaced is-4">Speed</h4>
        <p class="subtitle is-6">Unimaginable transfer speed thanks to middle-out compression.</p>
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
</section>
{{!-- END Features 2 --}}
